<div class="container-fluid wrapper-container diem-danh-container">
  <div class="w-100 d-flex justify-content-between align-items-center">
    <div class="module-name d-flex align-items-center container-fluid">
      <mat-icon>rule</mat-icon>
      <h1>
        Điểm danh
        <span *ngIf="count?.checkedIn"
          >{{ count.checkedIn }}/{{ count.total }}</span
        >
      </h1>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item (click)="onShowDeleteConfirm()">
        <mat-icon>replay</mat-icon> Làm mới (Xóa)
      </button>
      <button mat-menu-item (click)="onShowSyncDataDialog()">
        <mat-icon>sync</mat-icon> Đồng bộ dữ liệu
      </button>
      <button mat-menu-item (click)="exportFile()" *ngIf="count?.checkedIn">
        <mat-icon>download</mat-icon> Xuất file Excel
      </button>
    </mat-menu>
  </div>
  <div class="flex-1 diem-danh-content-wrapper">
    <div class="attendance" id="diemDanhWrapper">
      <div
        class="attendance-control"
        [ngClass]="{
          'sticky-mode': checkInSession.subject && checkInSession.time
        }"
      >
        <mat-expansion-panel class="w-100" [expanded]="!checkInSession.time">
          <mat-expansion-panel-header
            [ngClass]="{ selected: !!checkInSession['subject'] }"
          >
            <mat-panel-title> Môn học </mat-panel-title>
            <mat-panel-description>
              {{
                !!checkInSession.subject
                  ? "Đã chọn " + checkInSession.subject
                  : "Ấn chọn một môn học cho phiên điểm danh này"
              }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-grid-list
              [cols]="viewPortMode == 'desktop' ? 3 : 1"
              [gutterSize]="'10px'"
            >
              <mat-grid-tile
                *ngFor="let item of subjectList"
                class="checked-in-setting-wrapper cursor-pointer"
                (click)="onUpdateCheckInSession({ subject: item })"
                [ngClass]="{
                  selected: checkInSession['subject'] == item.id
                }"
              >
                <mat-grid-tile-header>{{ item?.id }}</mat-grid-tile-header>
                <span class="checked-in-setting-data">{{ item?.na }}</span>
              </mat-grid-tile>
              <mat-grid-tile
                class="checked-in-setting-wrapper cursor-pointer"
                (click)="onUpdateCheckInSession({ subject: 'addNew' })"
              >
                <mat-grid-tile-header>Thêm mới</mat-grid-tile-header>
                <mat-icon
                  [ngStyle]="{
                    fontSize: '50px',
                    height: '50px',
                    width: '50px'
                  }"
                  >add</mat-icon
                >
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          class="w-100"
          [disabled]="!checkInSession.subject"
          [expanded]="checkInSession.subject && !checkInSession.time"
        >
          <mat-expansion-panel-header
            [ngClass]="{ selected: !!checkInSession['time'] }"
          >
            <mat-panel-title> Thời gian học </mat-panel-title>
            <mat-panel-description>
              {{
                !!checkInSession.time
                  ? "Đã chọn " +
                    (checkInSession.time | date : "dd/MM/YYYY HH:mm:ss")
                  : "Ấn chọn thời gian bắt đầu cho phiên điểm danh này"
              }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-grid-list
              [cols]="viewPortMode == 'desktop' ? 3 : 1"
              [gutterSize]="'10px'"
            >
              <mat-grid-tile
                *ngFor="let item of checkInTimeList"
                class="checked-in-setting-wrapper cursor-pointer"
                (click)="onUpdateCheckInSession({ time: item })"
                [ngClass]="{ selected: checkInSession['time'] == item }"
              >
                <mat-grid-tile-header>{{ item }}</mat-grid-tile-header>
                <span class="checked-in-setting-data"
                  >Ngày {{ item | date : "dd" }} tháng
                  {{ item | date : "MM" }} năm {{ item | date : "YYYY" }}
                  {{ item | date : "HH" }} giờ {{ item | date : "mm" }} phút
                </span>
              </mat-grid-tile>
              <mat-grid-tile
                class="checked-in-setting-wrapper cursor-pointer"
                (click)="onUpdateCheckInSession({ time: 'addNew' })"
              >
                <mat-grid-tile-header>Thêm mới</mat-grid-tile-header>
                <mat-icon
                  [ngStyle]="{
                    fontSize: '50px',
                    height: '50px',
                    width: '50px'
                  }"
                  >add</mat-icon
                >
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          [disabled]="!checkInSession.subject || !checkInSession.time"
          [expanded]="checkInSession.subject && checkInSession.time"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Quét mã QR </mat-panel-title>
            <mat-panel-description>
              Đưa mã QR đã được cung cấp đến gần camera để quét mã điểm danh
            </mat-panel-description>
          </mat-expansion-panel-header>
          <cp-qr-scanner (qrData)="scanComplete($event)"></cp-qr-scanner>
        </mat-expansion-panel>
      </div>
      <div class="attendance-table">
        <div *ngIf="studentSetingGetting" class="d-flex justify-content-center">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!studentSetingGetting">
          <table class="w-100" *ngIf="viewPortMode == 'desktop'">
            <thead>
              <tr>
                <th>Mã học viên</th>
                <th>Họ và Tên</th>
                <th>Năm sinh</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of studentSettings"
                [id]="item.id"
                [ngClass]="{ checkedIn: item.checkedIn > 0 }"
              >
                <td>{{ item?.id }}</td>
                <td>{{ item?.na }}</td>
                <td>{{ item?.bi }}</td>
              </tr>
            </tbody>
          </table>
          <mat-list *ngIf="viewPortMode == 'mobile'">
            <mat-list-item
              *ngFor="let item of studentSettings"
              [ngClass]="{ checkedIn: item.checkedIn > 0 }"
            >
              <span matListItemTitle>{{ item?.na }}</span>
              <span matListItemLine>{{ item?.id }}</span>
              <span matListItemLine>{{ item?.bi }}</span>
              <mat-divider matListItemLine></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #welcomeDialog>
  <div mat-dialog-title>Xin chào👋!</div>
  <mat-dialog-content class="mat-dialog-welcome-attendance">
    <div class="text-center">
      <span class="welcomeIcon">{{ welcomeIcon }}</span>
    </div>
    <div *ngIf="!isDuplicate">
      <h1>{{ journeyUser?.na }} sinh năm {{ journeyUser?.bi }}</h1>
      <p *ngIf="journeyUser?.id">Mã số: {{ journeyUser?.id }}</p>
    </div>
    <div *ngIf="isDuplicate">
      <p>
        {{ journeyUser?.na }} sinh năm {{ journeyUser?.bi }}
        <span *ngIf="journeyUser?.id"> | Mã số: {{ journeyUser?.id }}</span>
      </p>
      <h1>Bạn đã được điểm danh rồi👌!</h1>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #confirmDeleteDialog>
  <div mat-dialog-title>Làm mới (Xóa)</div>
  <mat-dialog-content class="mat-dialog-welcome-attendance">
    <strong>LƯU Ý:</strong>
    <p>Toàn bộ dữ liệu sẽ bị xóa và không thể nào khôi phục được</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true">Hủy</button>
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      [color]="'warn'"
      (click)="confirmDelete()"
    >
      Tiếp tục
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #addNewDialog>
  <div mat-dialog-title>Thêm {{ addNew?.type?.name }} mới</div>
  <mat-dialog-content>
    <ng-container *ngIf="addNew?.type?.key == 'subject'">
      <mat-form-field>
        <mat-label>Mã {{ addNew?.type?.name }}</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="addNew.key"
          [placeholder]="'Nhập mã ' + addNew?.type?.name"
          [required]="true"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tên {{ addNew?.type?.name }}</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="addNew.value"
          [placeholder]="'Nhập tên ' + addNew?.type?.name"
          [required]="true"
        />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="addNew?.type?.key == 'time'">
      <mat-form-field>
        <mat-label>Chọn ngày</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="addNew.key" />
        <mat-hint>ngày/tháng/năm</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chọn giờ</mat-label>
        <input
          matInput
          [(ngModel)]="addNew.value"
          [ngxMatTimepicker]="pickerA"
          placeholder="14:00 PM"
          [format]="24"
          readonly
        />
        <mat-icon matSuffix (click)="pickerA.open()"> watch_later </mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true">Hủy</button>
    <button
      mat-flat-button
      [mat-dialog-close]="true"
      [disabled]="!addNew?.key || !addNew?.value"
      [color]="'primary'"
      (click)="storeNewSubject()"
    >
      Thêm
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #syncDataDialog>
  <div mat-dialog-title>Đồng bộ dữ liệu</div>
  <mat-dialog-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Hướng dẫn đồng bộ </mat-panel-title>
        <mat-panel-description>
          Hãy xem hướng dẫn thực hiện nếu bạn chưa biết cách làm nhé!
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <h3>Hướng dẫn đồng bộ dữ liệu</h3>
        <p>Sau khi ấn nút đồng bộ dữ liệu:</p>
        <img
          src="/assets/img/guide/admissionOffice/click-sync-menu.png"
          alt="click-sync-menu"
        />
        <p>
          Hãy đợi trong giây lát để hệ thống hoạt động và tạo ra file excel đồng
          bộ, quá trình này sẽ tốn vài giây cho đến tối đa là 1 phút.
        </p>
        <p>
          Sau khi quá trình tạo file thành công. Hộp thoại yêu cầu lưu trữ sẽ
          hiện lên, bạn cần lưu file đã tạo vào thư mục mà kỹ thuật viên đã chia
          sẻ với bạn. <br />
          Thư mục dùng để đồng bộ thường có dạn như ảnh dưới đây:
        </p>
        <img
          src="/assets/img/guide/admissionOffice/google-drive-folder.png"
          alt="click-sync-menu"
        />
        <p>
          Vị trí thường được chọn là:
          <code>/CDTTU_SYSTEM/PWA/PHÒNG TUYỂN SINH/BAN CÔNG TÁC SINH VIÊN/</code>
          <br />
          Ấn chọn file có tên gần giống với tên file hệ thống đã tạo ra: <br />
          <strong> Ví dụ: </strong> Nếu hệ thống tạo ra file
          <code>admissionOffice(1).xlsx</code> Thì bạn chọn file
          <code>admissionOffice.xlsx</code>
        </p>
        <img
          src="/assets/img/guide/admissionOffice/save.png"
          alt="click-sync-menu"
        />
        <p>
          Một hộp thoại yêu cầu chấp nhận lưu file sẽ hiện lên. bạn chọn
          <strong>Yes</strong> để đồng ý.
        </p>
        <img
          src="/assets/img/guide/admissionOffice/confirm.png"
          alt="click-sync-menu"
        />
        <p>
          Sau khi đồng ý cho việc đồng bộ file (trong điều kiện có kết nối
          mạng), file hệ thống vừa tạo ra sẽ đồng bộ với file được lưu trên
          Google Drive. Vậy là quá trình đồng bộ đã hoàn thành.
        </p>
        <img
          src="/assets/img/guide/admissionOffice/confirm.png"
          alt="click-sync-menu"
        />
        <p>
          <strong>
            Hãy kiểm tra lại kết quả đồng bộ của bạn trên file Google Drive sau
            vài phút để dịch vụ đồng bộ của Google Drive làm việc nhé!
          </strong>
        </p>
      </div>
    </mat-expansion-panel>
    <div
      *ngIf="isSyncInProgress"
      class="w-100 h-100 d-flex justify-content-center align-items-center flex-column"
    >
      <mat-spinner></mat-spinner>
      <div class="text-center">
        Hệ thống đang tạo file đồng bộ dữ liệu, xin đợi trong giây lát!
      </div>
    </div>
    <mat-expansion-panel [expanded]="isSyncCheck" [disabled]="true">
      <mat-expansion-panel-header
        >Kiểm tra lại thao tác đồng bộ</mat-expansion-panel-header
      >
      <div>
        <h3>Hãy kiểm tra lại thao tác đồng bộ bạn đã làm đúng hay chưa nhé!</h3>
        <p>
          Hãy đảm bảo rằng bạn đã làm đúng như
          <strong> hướng dẫn đồng bộ</strong> phía trên. Hãy ấn vào những thao
          tác mà bạn đã thực hiện:
        </p>
        <mat-selection-list #confirm>
          <mat-list-option
            >Đã lưu file mà hệ thống tạo ra với tên
            <code>admissionOffice.xlsx</code></mat-list-option
          >
          <mat-list-option
            >Đã lưu file mà hệ thống tạo ra tại
            <code
              >/CDTTU/CDTTU/CDU/PHÒNG TUYỂN SINH/BAN CÔNG TÁC SINH VIÊN/</code
            ></mat-list-option
          >
        </mat-selection-list>
      </div>
    </mat-expansion-panel>
    <p>
      <strong>Liên hệ hỗ trợ: </strong>
      <em>(trong trường hợp có lỗi xảy ra hoặc bạn không biết cách làm)</em>
    </p>
    <ul>
      <li>
        Kỹ thuật viên: Nguyễn Trung Nhân
        <ul>
          <li>Zalo: 0973.504.713</li>
          <li>Số điện thoại: 0973.504.713</li>
        </ul>
      </li>
      <li>
        Kỹ thuật viên: Đỗ Minh Thức
        <ul>
          <li>Zalo: 0977.225.942</li>
          <li>Số điện thoại: 0977.225.942</li>
        </ul>
      </li>
      <li>
        Kỹ thuật viên: Nguyễn Quốc Hải Đăng
        <ul>
          <li>Zalo: 093.903.1812</li>
          <li>Số điện thoại: 093.903.1812</li>
        </ul>
      </li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-flat-button
      matDialogClose="true"
      *ngIf="!isSyncCheck"
      [disabled]="isSyncInProgress"
    >
      Hủy
    </button>
    <button
      mat-flat-button
      [color]="'primary'"
      (click)="syncData()"
      *ngIf="!isSyncCheck"
      [disabled]="isSyncInProgress"
    >
      Đồng bộ
    </button>
    <button
      mat-flat-button
      [color]="'primary'"
      matDialogClose="true"
      *ngIf="isSyncCheck"
      [disabled]="confirm.selectedOptions.selected.length < 2"
    >
      Hoàn thành
    </button>
  </mat-dialog-actions>
</ng-template>
