<div class="banner w-full h-[80vh] lg:h-[55vh] relative" *ngIf="banner?.length > 0">
  <swiper #swiper class="h-full w-full" [loop]="true" [autoplay]="{ delay: 5000 }">
    <ng-template swiperSlide *ngFor="let item of banner let i = index">
      <div class="h-full w-full relative">
        <div *ngIf="!imageLoaded[i]" class="h-full w-full flex items-center justify-center bg-gray-20">
          Hình ảnh đang được tải....
        </div>
        <div class="h-full w-full">
          <img [src]="item?.image" [alt]="item?.image" class="h-full w-full object-cover" (load)="Load(i)"  [class.hidden]="!imageLoaded[i]" />
        </div>
      </div>
    </ng-template>
  </swiper>
  <button class="shadow h-[50px] w-[50px] rounded-full p-3 bg-[white] text-center absolute top-1/2 left-3 z-10"
    (click)="slidePrev()" [ariaLabel]="'slidePrev'">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
  </button>
  <button class="shadow h-[50px] w-[50px] rounded-full p-3 bg-[white] text-center absolute top-1/2 right-3 z-10"
    (click)="slideNext()" [ariaLabel]="'slideNext'">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>
  </button>
</div>